---
const { title } = Astro.props
---

<section class="content">
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  .content {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
</style>