---
const { title } = Astro.props
---

<section class="content">
  {title && <h2 class="title">{title}</h2>}
  <slot />
</section>

<style>
  .content {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .title {
    font-size: 2em;
    margin-bottom: 40px;
    color: #FF9900;
  }
</style>