---
import About from '@/components/About.astro';
import Layout from '../layouts/Layout.astro';
import Projects from '@/components/Projects.astro';
import Footer from '@/components/Footer.astro';
import Hero from '@/components/Hero.astro';
import Header from '@/components/Header.astro'
---

<Layout title="Porfolio">
	<main>
		<Header />
		<Hero />
		<About/>
		<Projects/>
		<Footer />
	</main>
</Layout>

<style>

</style>
