---
import Section from "@/templates/Section.astro"
import { aboutMe } from "@/data/cv.json"
import User from "@/atoms/User.astro"

const { title, summary } = aboutMe
---
<div class="about" id="about">

  <Section title={title} >
    <span slot="icon">
      <User />
    </span>
    <div slot="content" class="content">
      <img src="/photo.jpg" alt="" class="about__photo">   
      <p class="about__summary"> {summary} </p>
    </div>
  </Section>
</div>
<style>
  .about {
    margin-top: 30px;
  }

  .about__photo {
    max-width: 300px;
    margin: 0 auto 20px;
  }

  .about__summary {
    font-size: 14px;
  }
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    .about {
      margin-top: 100px;
    }

    .about__summary {
      font-size: 18px;
      margin-left: 30px;
      padding: 0 50px;
    }
    .content {
      font-size: 18px;
      flex-direction: row;
    }
  }

  /* img {
    max-width: 200px;
    margin-right: 30px;
  }
  @media (min-width: 768px) {
    .content {
      display: flex;
    }
  } */
</style>
