---
import Section from "@/templates/Section.astro"
---

<Section title="About me">
  <p>
    I have been a web development professional for more than 5 years, throughout my experience I have worked with different frontend technologies, I have strengthened my knowledge in my role but also learned from my colleagues and the agile methodologies with which we work in this times.
  </p>
</Section>
<style>
  
</style>
