---
import Section from "@/templates/Section.astro"
import { aboutMe } from "@/data/cv.json"

const { title, summary } = aboutMe
---

<Section title={title}>

  <div class="content">
    <!--     <img src="/photo.jpg" alt="">-->    
    <p> {summary} </p>
  </div>
</Section>
<style>

  .content {
    font-size: 1em;
    line-height: 1.3em;
  }

  @media (min-width: 768px) {

    .content {
      font-size: 18px;
      line-height: 24px;
    }
  }

  /* img {
    max-width: 200px;
    margin-right: 30px;
  }
  @media (min-width: 768px) {
    .content {
      display: flex;
    }
  } */
</style>
