---
import { footer } from "@/data/cv.json";

const { summary, summary2 } = footer
---
<footer>
  <p> {summary} <span class='footer__made'>{ summary2}</span></p>
</footer>
<style>
    footer {
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      font-size: 16px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Delius", cursive;
    }

    .footer__made {
      font-weight: bold;
      color: #FF9900;
    }
</style>