<footer>
  <p>Designed and built with all the love in the world <span class='footer__made'>by Lidia Ramirez</span></p>
</footer>
<style>
    footer {
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      font-size: 16px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Delius", cursive;
    }

    .footer__made {
      font-weight: bold;
      color: #FF9900;
    }
</style>