<header>
  <nav>
    <div>
      Lid
    </div>
  </nav>
</header>
<style>
  header {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    height: 80px;
  }
</style>